{% extends "academico/index.html" %}


{% block content %}

<ul class="menu-horizontal">
    <li>
        <a href="">Datos Personales</a>
    </li>

    <li>
        <a href="">Informacion Academica</a>
        <ul class="menu-vertical">
            <li><a href="">Historia Academica</a></li>
            <li><a href="">Calificaciones</a></li>
        </ul>
    </li>



    <li>
        <a href="">Buscador de cursos</a>
        <ul class="menu-vertical">
            <li><a href="">Buscador de Cursos</a></li>
            <li><a href="">Contenido Asignaturas</a></li>
        </ul>
    </li>


    <li>
        <a href="">Procesos de inscripcion </a>
        <ul class="menu-vertical">
            <li><a href="">Cita Inscripcion</a></li>

        </ul>
    </li>
</ul>

{% endblock %}

    {% block content2 %}
    
    {% endblock %}

