<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,400;0,500;0,600;0,700;0,800;0,900;1,300&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">
    <!-- or -->
    <link rel="stylesheet" href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">
</head>

<body>
    <section>

        <div class="login-card">
            <div class="login-card-logo">
                <img src="{% static 'images/logounal.png' %}" alt="" class="img-logo">
            </div>
            <div class="login-card-text">
                <h2>Sistema de Gestion Academica</h2>
            </div>
            <div class="login-card-form">
                <form action="" method="POST"> {% csrf_token %}
                    <div class="inputbox">
                        <input type="email" name="email" id="email" placeholder="Email" required>
                    </div>
                    <div class="inputbox">
                        <input type="password" name="password" id="password" placeholder="Password" required>

                    </div>
            </div>

            <button type="submit">Login</button>
            </form>

        </div>
    </section>

    <footer>
        <div class="contact">
            <div class="main">
                <div class="col">
                    <h2> Ayudas </h2>
                    <ul>

                        <li> <a href="http://personal.unal.edu.co/">Talento Humano</a></li>
                        <li> <a href="http://personal.unal.edu.co/">Ofertas de empleo</a></li>
                        <li> <a href="https://docentes.unal.edu.co/concurso-profesoral/">Concurso docente</a></li>
                        <li> <a href="http://controlinterno.unal.edu.co/">Control interno</a></li>
                    </ul>
                </div>

                <div class="col">
                    <h2>
                        Contacto
                    </h2>
                    <ul>
                        <li>
                            <p>Carrera 45 # 26-85</p>
                        </li>
                        <li>
                            <p>Edif. Uriel Gutiérrez
                            </p>
                        </li>
                        <li>
                            <p>Bogotá D.C., Colombia</p>
                        </li>
                        <li>
                            <p>(+57 1) 316 5000
                            </p>
                        </li>
                    </ul>
                </div>


                <div class="col">
                    <h2> Redes Sociales</h2>
                    <div class="social-media">
                        <a href="https://www.facebook.com/UNALOficial"><i class='bx bxl-facebook-circle'></i></a>
                        <a href="https://twitter.com/UNALOficial"><i class='bx bxl-twitter'></i></a>
                        <a href="https://www.instagram.com/unaloficial/"><i class='bx bxl-instagram-alt'></i></a>
                        <a href="https://www.linkedin.com/school/universidadnacionaldecolombia/"><i
                                class='bx bxl-linkedin-square'></i></a>
                    </div>
                </div>


            </div>
        </div>
    </footer>
</body>

</html>